body {
    background: #000;
    color: #fff;
    padding: 25px;
    font-family: sans-serif;
  }
  button {
    box-shadow: 0 8px #999;
    background-color: #33FF55;
    font-size: 25px;
  }
  .smallbutton {
    box-shadow: 0 4px #999;
    font-size: 12px;
  }
  .smallbutton:active {
    box-shadow: 0 2px #777;
    transform: translateY(2px);
  }
  button:hover {
    background-color: #15AA27;
    cursor: pointer;
  }
  button:active {
    box-shadow: 0 5px #777;
    transform: translateY(3px);
  }
  .hide {
    display: none;
  }
  .hide1 {
    display: none;
  }
  